services:
  node-1:
    build: .
    image: dre:latest
    container_name: node-1
    command:
      - --id=node-1
      - --addr=node-1:8000
    networks:
      - dre-net

  node-2:
    build: .
    image: dre:latest
    container_name: node-2
    command:
      - --id=node-2
      - --addr=node-2:8000
      - --seed=node-1:8000
    depends_on:
      - node-1
    networks:
      - dre-net

  node-3:
    build: .
    image: dre:latest
    container_name: node-3
    command:
      - --id=node-3
      - --addr=node-3:8000
      - --seed=node-1:8000
    depends_on:
      - node-1
    networks:
      - dre-net

  node-4:
    build: .
    image: dre:latest
    container_name: node-4
    command:
      - --id=node-4
      - --addr=node-4:8000
      - --seed=node-1:8000
    depends_on:
      - node-1
    networks:
      - dre-net

networks:
  dre-net:
    driver: bridge